@model List<Student.Models.STUDENT>

<h2>Student List</h2>

<table cellpadding="10" cellspacing="0" border="1" width="100%">
    <tr>
        <th>USN</th>
        <th>Name</th>
        <th>Subject 1</th>
        <th>Subject 2</th>
        <th>Subject 3</th>
    </tr>

    @foreach (var e in Model)
    {
        <tr>
            <td>@e.USN</td>
            <td>@e.Name</td>
            <td>@e.Sub1</td>
            <td>@e.Sub2</td>
            <td>@e.Sub3</td>
        </tr>
    }
</table>
